<div class="gridster">
  <ul>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo_1" data-view="Birthday" style="background-color:#47bbb3;"></div>
    </li>
        
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo_3" data-view="Birthday" datastyle="background-color:#ff9618;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo_4" data-view="Birthday" data-nodata="No upcoming birthdays" style="background-color:#9c4274;"></div>
    </li>
    
  </ul>
</div>